* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

body {
  padding: 2em 15em;
  font-size: 16px;
}

.blind {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%); 
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

img.ui-datepicker-trigger {
  margin-left:5px; vertical-align:middle; cursor:pointer;
}

/* form CSS */
[class*='form-'] {
  width: 100%;
  overflow: hidden;
  margin-bottom: 2em;
  padding: 1em;
  border: 1px solid #999;
  text-align: center;
  position: relative;
  background-color: #f8f8f8;
}

[class*='form-'] input {
  text-align: center;
  padding: 0.1em 0;
}

[class*='form-'] input[type='tel'] {
  text-align: left;
}

[class*='form-'] select {
  padding: 0.1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../imgs/select_arrow.png);
  background-repeat: no-repeat;
  background-position: right 0.5em center;
  background-size: 10px 10px;
}

[class*='form-'] select::-ms-expand {
  display: none;
}

[class*='form-'] fieldset {
  border: 0;
}

[class*='form-'] .label_group {
  font-weight: 600;
}

.btnBox {
  position: absolute;
  width: auto;
}

.btnBox button {
  padding: 0.1em 0.5em;
  background-color: #333;
  color: #fff;
  border: 0;
}

.btnBox button:hover {
  cursor: pointer;
  background-color: #ccc;
  box-shadow:1px 1px 4px rgba(0,0,0,0.2);
}

/* input 요소 크기 */
#recruit-year {
  width: 5.5em;
}
#recruit-type {
  width: 5.5em;
}
#recruit-num {
  width: 3em;
}
[id*='Date'] {
  width: 6em;
}
#id-num {
  width: 10em;
}
#id-name {
  width: 6em;
}

/* form-1 */
.form-1 {
  text-align: left;
  min-width: 405px;
}

.form-1 > fieldset {
  display: block;
  width: 60%;
  margin: 0 auto;
  /* background-color: antiquewhite; */
}

.form-1 .col_wrap {
  width: 70%;
  float: left;
  margin-left: 30%;
  position: relative;
}

.form-1 .col_wrap:first-child {
  width: 30%;
}

.form-1 .col_wrap .label_group,
.form-1 .col_wrap .input_group {
  display: block;
}

.form-1 .col_wrap .input_group {
  margin-bottom: 0.5em;
}

.form-1 .col_wrap #survey_options {
  float: left;
  width: 70%;
  /* background-color: #ccc; */
  position: relative;
}

/* col_wrap_year */
.form-1 .col_wrap_year {
  width: 80%;
  float: left;
  margin-left: 20%;
  position: relative;
}
.form-1 .col_wrap_year #survey_options {
  float: left;
  width: 70%;
  height: 2em;
  position: relative;
}

.form-1 .col_wrap .survey_controls {
  float: left;
  width: 30%;
  /* background-color: #999; */
  text-align: right;
}

.form-1 .mleft0 {
  margin-left: 0;
}

.form-1 .item {
  position: relative;
}

.form-1 .btnBox {
  bottom: 0.5em;
  right: 0;
}

/* form-2, form-3, form-4 */
.form-2,
.form-3,
.form-4 {
  min-width: 420px;
}

.form-2 > .label_wrap,
.form-3 > .label_wrap,
.form-4 > .label_wrap {
  margin-right: 1em;
}

.form-2 > .label_wrap label,
.form-3 > .label_wrap label,
.form-4 > .label_wrap label {
  font-weight: 600;
}

.form-2 > .btnBox,
.form-3 > .btnBox,
.form-4 > .btnBox {
  bottom: 1em;
  right: 1em;
}

/* form-5, form-6, form-7 (조회/초기화) */
.txt_desc {
  float: left;
  font-size: 0.8em;
  color: #999;
  width: 100%;
  margin-left: 8.8em;
}

.form-5,
.form-6,
.form-7 {
  display: flex;
  flex-wrap:wrap;
  text-align: left;
  position: relative;
  min-width: 370px;
  background-color: #f8f8f8;
}

.form-5 > div,
.form-6 > div,
.form-7 > div {
  width: 14em;
  margin-bottom: 1em;
  /* border: 1px solid #999; */
}

.form-5 .long_input,
.form-6 .long_input,
.form-7 .long_input {
  width: 28em;
}

.form-5 > div > span,
.form-6 > div > span,
.form-7 > div > span {
  display: block;
  float: left;
}

.form-5 > div .label_group,
.form-6 > div .label_group,
.form-7 > div .label_group {
  width: 7em;
  background-color: #e7e7e7;
  line-height: 1.5em;
}

.form-7 > div .input_group [id*='submit-radio'] {
  margin-right: 0.5em;
}

.form-5 .btnBox,
.form-6 .btnBox,
.form-7 .btnBox {
  bottom: 0;
  right: 1em;
  text-align: right;
}

@media screen and (max-width:1270px){
  .txt_desc {
    margin-left: 8.2em;
  }

  .form-5 > div,
  .form-6 > div,
  .form-7 > div {
  width: 13em;
  }

  .form-5 .long_input,
  .form-6 .long_input,
  .form-7 .long_input {
    width: 26em;
  }

  .form-5 > div .label_group,
  .form-6 > div .label_group,
  .form-7 > div .label_group {
    width: 6.5em;
  }
}

@media screen and (max-width:1280px) {
  .form-1 > fieldset {
    width: 70%;
  }
}

@media screen and (max-width:1180px){
  body {
    font-size: 14px;
    padding: 2em 10em;
  }

  #recruit-type {
    width: 6em;
  }

  .form-1 .col_wrap {
    margin-left: 25%;
  }

  .form-1 .col_wrap:first-child {
    width: 25%;
  }
  .form-1 .mleft0 {
    margin-left: 0;
  }
}

@media screen and (max-width:940px){
  body {
    padding: 2em 4em;
  }
}

@media screen and (max-width:750px){
  .form-1 .mleft0 {
    margin-left: 0;
  }
  .form-1 > fieldset {
    width: 80%;
  }
}

@media screen and (max-width:680px) {
  .form-1 > fieldset {
    width: 90%;
  }
}

@media screen and (max-width:600px) {
  .form-1 > fieldset {
    width: 100%;
  }
}

@media screen and (max-width:560px){
  body {
    padding: 2em;
    font-size: 13px;
  }
}

/* 동적 태그 만들기 */
[class*='form-'] .box-buttons {
  text-align: left;
  font-size: 0;
}

[class*='form-'] .box-buttons .btn {
  margin: 0 5px;
  line-height: 40px;
  height: 40px;
  font-size: 1rem;
  padding: 0 20px;
  border: 0;
  border-radius: 3px;
}

[class*='form-'] .btn {
  color: white;
  text-decoration: none;
}

[class*='form-'] .box-buttons .btn-blue {
  background-color: #0088cf;
}

[class*='form-'] .box-buttons .btn-gray {
  background-color: #6b7f89;
}